@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: hsl(233, 47%, 7%);
  color: white;
}

mark {
  color: hsl(277, 64%, 61%);
  background: none;
}

.filter-image {
  mix-blend-mode: multiply;
  opacity: 0.75;
}

.leading-title {
  line-height: 1.22 !important;
}
.leading-paragraph {
  line-height: 1.67;
}
